@import url('reset.css');

/** Bootstrap for buttons **/
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}
body {
	margin: 0;
	background: #0F294A;
	font-family:Helvetica,Arial,sans-serif;
	color:white;
	padding-bottom:50px;
}

a {
	color:#DCBC45;
	text-decoration:none;
}

i {
	font-variant: italic;
}

#top {
	border-bottom:3px solid #000;
	background: #1E5799;
}

#top .content {
	padding:10px 0;
	background: url('i/eve_bg.png') no-repeat left bottom;
}

/* Logo */
#top h1 {
	margin: 0;
	text-indent: -999em;
	outline:none;
	width:255px;
	height:90px;
	background: url('i/logo_eve_253.png') no-repeat;
	color: #DCBC45;
}

#top h2 {
	display:none;
}

/* Download butotn */
#top .github-cta {
	display:block;
	position:absolute;
	right:0;
	top:30px;
}

#top .github-cta .version {
	font-size:12px;
	margin-top:2px;
	text-align:center;
}

#top .github-cta .status {
	margin-top:5px;
	text-align:center;
}

#top .github-cta .btn {
	font-size:18px;
	background-color: hsl(202, 53%, 18%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#286284", endColorstr="#153446");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#286284), to(#153446));
	background-image: -moz-linear-gradient(top, #286284, #153446);
	background-image: -ms-linear-gradient(top, #286284, #153446);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #286284), color-stop(100%, #153446));
	background-image: -webkit-linear-gradient(top, #286284, #153446);
	background-image: -o-linear-gradient(top, #286284, #153446);
	background-image: linear-gradient(#286284, #153446);
	border-color: #153446 #153446 hsl(202, 53%, 14%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
	-webkit-font-smoothing: antialiased;
}

#top .download-cta a {
	display:block;
	text-indent:-999em;
	outline:none;
	height:47px;
	width:176px;
	background:url('i/button_download.png') no-repeat;
}

#top .download-cta .version {
	text-align:center;
	color:white;
	font-size: 10px;
}

/* Blurb */

#top .blurb {
	font-size: 24px;
	color: #daeaff;
	width:80%;
	margin:50px auto;
	line-height:120%;
}

#top .blurb em {
	color:#fff;
	text-shadow: 1px 1px 0 #000;
}

#top .example {
	width:80%;
	margin:20px auto;
}
#top .example h3 {
	font-size: 34px;
	color: #dcbc45;
	text-shadow: 2px 2px 0 #000;
}

/* Kickstart */

#top .kickstart {
	margin-bottom:80px;
}

#top .kickstart h3 {
	font-size:32px;
	text-shadow: 2px 2px 0 #000;
	text-align:center;
	margin-bottom:30	px;
}

#top .kickstart p {
	text-align:center;
	margin:20px;
}

#top .kickstart .terminal {
	padding:10px;
	background:#000;
	color: #ccc;
	font-size: 30px;
	font-family:Monaco,monospace;
}

#top .kickstart .terminal a {
	color: #dcbc45;
	text-decoration:none;
}

#top .kickstart .prompt {
	color: #777;
}

/* Framework Logos */

#top .framework-support h3 {
	text-align:center;
	font-size:20px;
	text-shadow: 1px 1px 0 #000;
}

#top .framework-support ul {
	text-align:center;
	margin:20px 0;
}

#top .framework-support li {
	display: inline-block;
	text-indent: -999em;
	outline:none;
	margin: 0 20px;
}

#top .framework-support li a {
	display:block;
	height:50px;
	opacity:.7;
}

#top .framework-support li a:hover {
	opacity:1;
}

#top .framework-support li.mootools a {
	width: 200px;
	background: url('i/logo_mootools_200.png') center no-repeat;
}

#top .framework-support li.jquery a {
	width: 200px;
	background: url('i/logo_jquery_200.png') center no-repeat;
}

#top .framework-support li.dojo a {
	width: 77px;
	background:url('i/logo_dojo_77.png') center no-repeat;
}

#top .framework-support li.prototype a {
	width: 123px;
	background: url('i/logo_prototype_123.png') center no-repeat;
}

#top .framework-support li.yui a{
	width: 116px;
	background: url('i/logo_yui_116.png') center no-repeat;
}

#bottom {
	
}

/* Main body */

h1 {
	font-size: 38px;
	color: #dcbc45;
	margin:36px 0;
	text-shadow:2px 2px 0px #000;
	text-align:center;
}

h2 {
	font-size:30px;
	text-shadow:2px 2px 0px #000;
	margin-top:50px;
}

h3 {
	font-size:24px;
	margin:20px 0;
}

h4 {
	font-size:18px;
	margin:10px 0;
}

.content {
	position:relative;
	width:970px;
	margin:auto;
}

section p {
	color: #DAEAFF;
	margin:10px auto;
	font-size: 20px;
	line-height: 125%;
}

section code,section em {
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

section .content {
	width: 70%;
	margin:auto;
}

ul.arguments {
	margin-left: 20px;
	line-height:150%;
}

ul.arguments li {
	margin-bottom: 10px;
	color: #DAEAFF;
}

#documentation h3 {
	text-shadow: 2px 2px 0px #000;
}

#documentation .syntax {
	margin-left:20px;
	font-size:12pt;
}